<div class="landing-background">
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 signup">
    <form id="form" action="/auth/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-default text-center" value="Login">
      </div>
    </form>
  </div>
</div>
