<html>
  <head>
    <meta charset="utf-8">
    <title>Journapic</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>

    <nav class="navbar-header header navbar-fixed-top">
      <div class="container-fluid">
        <div class="col">
          <h1 class="logo-font">Journapic</h1>
          <ul class="navbar-nav navbar-right nav">
            <%if (typeof(req.user) === "undefined") {%>
            <li><a href="/login">Login</a></li>
            <%}%>
            <%if (typeof(req.user) === "undefined") {%>
            <li><a href="/signup">Signup</a></li>
            <%}%>
            <%if (typeof(req.user) !== "undefined") {%>
            <li>
              <form action="/logout" method="POST">
                <button class="btn btn-link btn-logout" type="submit">Logout</button>
              </form>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>
    <div class="hueco"></div>
    <!-- <% if(req.notifics){ %>
    <div class="friend-request">You have a friendship request<button name="accept" class="btn btn-success">Accept</button>
        <button name="reject" class="btn btn-danger">Reject</button></div>
    <%=req.notifics[0]._id%>
    <%}%> -->
    <div class="clear-header"></div>
    <div class="main-container container-fluid">
      <%- body -%>
    </div>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
