<div class="landing-background">
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 signup">
    <h1 class="intro-message">Add friend:</h1>
    <%if(awaitingRequests.length > 0){%>
      <table class="table table-hover">
        <tr>
          <th colspan="3">Friendship requests awaiting response: </th>
        </tr>
        <%awaitingRequests.forEach(function(elem){%>
          <tr>
              <td><%=elem.receiver.username%></td>
              <td><%=elem.receiver.email%></td>
              <td>
                <form action="/friends/delete" method="post">
                  <button name="decision" class="btn btn-danger" type="submit" value="denied">Cancel request</button>
                  <input type="text" name="friendshipID" value="<%=elem._id%>" hidden>
                </form>
              </td>
          </tr>
        <%});%>
      </table>
    <%};%>
    <form id="form" action="/friends/" method="POST">
      <div class="form-group">
      	<label for="username" class="cols-sm-2 control-label">Username</label>
      		<div class="cols-sm-10">
      			<div class="input-group">
  						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
  						<input type="text" class="form-control" name="username" id="name"  placeholder="Enter your friend's username"/>
						</div>
			  	</div>
        </div>
          <div class="text-center">
            <input type="submit" class="btn btn-default text-center" value="Add user to friends">
          </div>
        </form>
  </div>
</div>
