<div class="landing-background">
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 signup">
    <form id="form" action="/" method="POST">
      <div class="form-group">
      	<label for="username" class="cols-sm-2 control-label">Username</label>
      		<div class="cols-sm-10">
      			<div class="input-group">
  						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
  						<input type="text" class="form-control" name="username" id="name"  placeholder="Enter your friend's username"/>
						</div>
			  	</div>
        </div>
          <div class="text-center">
            <input type="submit" class="btn btn-default text-center" value="Add user to friends">
          </div>
        </form>
  </div>
</div>
