<div class="landing-background">
</div>
<div class="home-heading text-center row">
  <div class="home-heading-wrapper">
    <h1>Make yourself accountable.</h1>
    <p>Pollas en vinagre</p>
    <a class="btn btn-default" href="#">Mas pollas</a>
  </div>
</div>
