
<div class="landing-background">
</div>
<div class="home-heading text-center row">
  <div class="home-heading-wrapper col-md-12">
    <h1>PAGINA DE BIENVENIDA DE USUARIO</h1>
    <p> Mensaje</p>
    <a class="btn btn-default" href="/entry/new">Create new entry</a>
  </div>
</div>
