<div class="landing-background">
</div>
<div class="home-heading text-center row">
  <div class="home-heading-wrapper">
    <h1 class="intro-message">Make yourself accountable</h1>
    <div class="welcome-message"><h1 class="logo-font">Deliver</h1> makes you accountable to your family and friends </div>
    <a class="btn btn-default" href="/signup">Join now, it's free!</a>
  </div>
</div>
