$brand-color: #3B2642;
$color-white: #FFFFFF;
$green-notification: #dff0d8;
$dark-green: #468847;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body{
  margin: 0;
  padding: 0;
}

h1.logo-font {
  font-family: SignPainter-HouseScriptSemibold, sans-serif;
  font-size: 48px;
  color: $color-white;
  display: inline;
}

.main-container {
  padding-top: 25px;
}


.navbar-fixed-top{
  background: $brand-color;
  border: 1px solid #979797;
  box-shadow: 0 7px 10px 1px rgba(0,0,0,0.50);
  border: none;
}

.clear-header{
  height: 80px
}

.landing-background{
  background-image: url('../images/landing1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.signup{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.nav > li > a {
  color: $color-white;
}

.friend-request{
  float: right;
  clear: both;
  background-color: $green-notification;
  height: 50px;
  width: 400px;
  border: 1px solid $dark-green;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}

.hueco{
  height: 50px;
}
