$brand-color: black;
// antes era: #3B2642
$color-white: #FFFFFF;
$green-notification: #dff0d8;
$dark-green: #468847;

@font-face {
    font-family: SignPainter-HouseScriptSemibold-2;
    src: url(ufonts.com_signpainter-housescript.ttf);
}

table{
  background-color: rgba(255, 255, 255, 0.8x);
}

.fondo{
  background-color: rgba(255, 255, 255, 0.8x);
  padding: 20px;
  border-radius: 5px;
}

.welcome-message{
  text-shadow : 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 30px;
  color: white;
  max-width: 550px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.right{
  position: absolute;
  right: 10px
}
.intro-message{
  margin-top: 30px;
  text-shadow : 2px 2px 3px rgba(0,0,0,0.6);
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: white;
  text-align: center;
  }

.blue-letters {
  color: #00B7FF;
  margin-top: 20px;
  margin-right: 20px;
}

body{
  margin: 0;
  padding: 0;
}

.logo-font-small{
  font-family: SignPainter-HouseScriptSemibold, SignPainter-HouseScriptSemibold-2, sans-serif;
  font-size: 30px;
  background-color: white;
  text-align: center;
}

h1.logo-font {
  font-family: SignPainter-HouseScriptSemibold, SignPainter-HouseScriptSemibold-2, sans-serif;
  font-size: 48px;
  color: $color-white;
  display: inline;
}

.main-container {
  padding-top: 25px;
}


.navbar-fixed-top{
  background: $brand-color;
  border: 1px solid #979797;
  box-shadow: 0 7px 10px 1px rgba(0,0,0,0.50);
  border: none;
}

.clear-header{
  height: 80px
}

.fixed{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1
}

.landing-background{
  background-image: url('../images/landing1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

.signup{
  position: absolute;
  transform: translateY(-50%);
  top: 270px;
}

.nav > li > a {
  color: #00B7FF;
}

.rmv-white-hvr:hover{
  background-color: green;
}

.new-entry-title{
  position: absolute;
  margin: 50px;
  margin-top: 0px;
}

.delivered{
  color: green;
  font-weight: bold;
}
.failed{
  color: red;
  font-weight: bold;
}

.friend-request{
  float: right;
  clear: both;
  background-color: $green-notification;
  height: 50px;
  width: 450px;
  border: 1px solid $dark-green;
  border-radius: 5px;
  padding: 7px;
}

.friend-request-text{
  margin: 7px;
  float: left;
}

.hueco{
  height: 70px;
}

.logout{
  margin: 10px 10px 0px 0px;

}
