<div class="landing-background">
</div>

  <form class="form-horizontal" action="/entry" method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
        <!-- <label class="col-md-4 control-label" for="picture">Foto</label> -->
        <!-- <input id="picture" name="picture" type="text" placeholder="Sube una foto" class="form-control input-md" required=""> -->
        <input type="text" name="name">
        <input type="file" name="file">
      </div>
    </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Mensajito</label>
    <div class="col-md-4">
      <textarea class="form-control" id="textarea" name="comment">Como ha ido el dia?</textarea>
    </div>
  </div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Ubicacion</label>
    <div class="col-md-4">
      <input id="textinput" name="location" type="text" placeholder="ubicacion" class="form-control input-md" required="">
    </div>
  </div>
  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="button1id">Resultado del dia</label>
    <div class="col-md-8">
      <button id="button1id" name="submit" type="submit" class="btn btn-success">He cumplido</button>
      <button id="button2id" name="notAchieved" type="submit" class="btn btn-danger">No he cumplido</button>
    </div>
  </div>
</form>
